{% load i18n %}
{% if tabs %}
<div class="tab-bar--border-bottom" data-selected-meal="{{ selected_meal }}">
    <div class="tab-bar">
        {% for tab in tabs %}
        <a id="daytab-{{ tab.day }}"
            href="#"
            data-day="{{ tab.day }}"
            data-tab="{{ tab.day }}"
            class="tab {% if selected_day == tab.day %}tab--active{% endif %}">
            {% trans tab.name %}
            <br />
            {{ tab.date }}
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}
