{% load i18n %}
{% if meal_tabs %}
<div id="menu-panel">
    <nav>
        <div class="meal-tab-bar">
            {% for tab in meal_tabs %}
            <a id="tab-{{ tab.id }}" hx-get="{% url 'menu_panel' bases=bases path=path %}?meal={{ tab.id }}&day={{ selected_day }}&previous=0"
                hx-target="#menu-panel"
                class="tab {% if selected_meal == tab.id %}tab--active{% endif %}">
                {% trans tab.label %}
                <span class="tab-subtitle">{% trans tab.meal_time %}</span>
            </a>
            {% endfor %}
        </div>
    </nav>

    <section id="menu-items" hx-swap="innerHTML">
        {% include 'components/menu_items.html' %}
    </section>
</div>
{% endif %}
