{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Welcome to cookie" %}{% endblock %}

{% block content %}
<div class="home-container">
    <h1 id="welcome-text" class="welcome-title">{% trans "Welcome to cookie" %}</h1>
    <div class="category-grid">
        {% for item in items %}
        <a href="{% url 'menu_list' bases item.path %}"
            class="category-card">
            <svg class="category-icon" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4">
                </path>
            </svg>
            <span class="category-name">{% trans item.title %}</span>
        </a>
        {% endfor %}
    </div>
    <!-- <p class="mt-4 text-blue-400">{% trans "This is the main page." %}</p> -->
</div>
{% endblock %}
