{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{{ title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'menu-list.css' %}">
{% endblock %}

{% block content %}
<div class="list-wrapper">
    <a href="{% url 'home_menu' bases %}" class="list-back"><i data-lucide="arrow-left"></i> {% trans "뒤로" %}</a>
    <div class="list-title-container">
        <h1 class="list-title">{% trans title %}</h1>
        <h1 class="campus-heading">{% if bases == 'gl' %}global{% else %}seoul{% endif %}</h1>
    </div>
    <div id="menu-view">
        {% include 'components/week_nav.html' with bases=bases path=path selected_day=selected_day selected_meal=selected_meal previous=previous %}
        {% include 'components/day_tabs.html' with bases=bases path=path tabs=tabs selected_day=selected_day selected_meal=selected_meal previous=previous %}
        {% include 'components/menu_panel.html' with bases=bases path=path meal_tabs=meal_tabs selected_meal=selected_meal selected_day=selected_day previous=previous %}
    </div>
</div>
{% endblock %}