@import "tailwindcss";
@source "../templates/**/*.html";
@source "../../restaurants/templates/**/*.html";
@import "basecoat-css";

/* 2. Customize your theme using standard CSS variables */
@theme {
    --color-brand-primary: #4f46e5;
    --color-brand-secondary: #06b6d4;
    --font-display: "Inter", sans-serif;
}